.summary-wrapper {
  // transform: translateY(calc(50vh - 2.4rem)) translateY(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  max-width: 70rem;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2rem 4rem 1rem rgba($color-primary, 0.075);
  border-radius: 3rem;
}

.result {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  justify-items: center;
  text-align: center;
  color: $color-white;
  padding: 4.8rem 3.6rem;
  border-radius: 3rem;
  background-image: linear-gradient($color-primary, $color-primary-shade-1);

  &__title {
    font-size: 2.4rem;
    color: rgba($color-white, 0.75);
    font-weight: 600;
  }

  &__score {
    &--wrapper {
      height: 18rem;
      width: 18rem;
      background-image: linear-gradient($color-primary-shade-2, transparent);
      border-radius: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;

    &--subtext {
      font-size: 1.6rem;
      color: rgba($color-white, 0.75);
    }
  }

  &__subtext {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__text {
    color: rgba($color-white, 0.75);
  }
}

.summary {
  padding: 4.8rem 3.6rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  justify-items: stretch;

  &__title {
    font-size: 2.4rem;
    color: $color-gray;
    font-weight: 600;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  &__item {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    color: $color-gray;
    font-weight: 600;
    font-size: 1.8rem;

    &--1 {
      background-color: rgba(#ffa8a8, 0.2);
      color: #e03131;
    }

    &--2 {
      background-color: rgba(#ffec99, 0.2);
      color: #f08c00;
    }

    &--3 {
      background-color: rgba(#8ce99a, 0.2);
      color: #2f9e44;
    }

    &--4 {
      background-color: rgba(#74c0fc, 0.2);
      color: #1971c2;
    }
  }

  &__item-score {
    color: $color-gray;
    & span {
      color: rgba($color-gray, 0.7);
    }
  }
}

.btn {
  padding: 1.6rem;
  border: none;
  border-radius: 99rem;
  font-size: inherit;
  color: $color-white;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    $color-gray 50%,
    $color-primary 75%,
    $color-primary-shade-2
  );
  background-size: 400%;
  background-position: 0%;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background-position: 100%;
  }
}
